*{
    background-color: #414042;
}

.botun{
    height: 70px;
    width: 700px;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    border: #5BFF62 solid 3px;
    border-radius: 25px;
    font-size: 25px;
    color: #fef;
    background-color: #231F20;
    padding: 5 5 5 5;
    text-align: center;
}

.botun:hover{
    cursor: pointer;
    border: #5BFF62 solid 3px;
    color: #fef;
    background-color: #231f20;
    border-radius: 50px;
}
.divvv{
    border: white solid 3px;
}
.znase{
    text-align: center;
    color: white;
}

  a{
      color: white;
      font-size: 40px;
  }
  a:hover{
      color:#5BFF62;
  }