*{
    background-color: #414042;
}

.botun{
    height: 70px;
    width: 700px;
    position: absolute;
    border: #5BFF62 solid 3px;
    border-radius: 25px;
    font-size: 25px;
    color: #fef;
    background-color: #231F20;
    padding: 5 5 5 5;
    text-align: center;
}

.botun:hover{
    cursor: pointer;
    border: #5BFF62 solid 3px;
    color: #fef;
    background-color: #231f32;
    border-radius: 50px;
}
.znase{
    text-align: center;
    color: white;
}

.container { 
    height: 80px;
    width: 800px;
    position: relative;
  }
  
.center {
    margin: 0;
    position: absolute;

  }

  a{
      color: white;
  }
  a:hover{
      color:#5BFF62;
  }